---
---
@charset "utf-8";

@import
  'base',
  'bio',
  'rows',
  'post'
;

body{
  background: #fefefe;
}


@media screen and (min-width: 800px){
  .post {
    min-width: 500px;
    width: 68%;
  }
}

@media screen and (min-width: 600px){
  .row__title{ width: 68%; }
  .row__date{ width: 9%; }
  .row__cat{ width: 15%; }
}
